* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    font-family: sans-serif;
    width: 800px;
    max-width: 800px;
    background-color: #f5f5f5;
}

label, h2 {
    user-select: none;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #d5d5d5;
    padding: 0.5em;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
    flex-direction: column;
}

.header-labels {
    display: flex;
    width: 100%;
    background-color: #d5d5d5;
}

.header-labels-wrapper {
    display: flex;
    width: 100%;
}

.header-popup {
    display: none;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ff5c35;
    border-radius: 4px;
    background-color: #ff5c35;
    color: white;
    margin-right: 0.5em;
    font-size: 18px;
    height: 30px;
    width: auto;
    max-width: 700px;
    padding-left: 0.3em;
}

.header-popup > span {
    white-space: nowrap;
    margin-right: 2em;
}

#tab-label-1 { padding-left: 2px }
#tab-label-2 {
    margin-left: 0.2em;
}
.tab-input {
    display: none;  
}

.container-wrapper {
    display: flex;
    width: 200%; /* 2 secciones */
    transition: transform  ease ease;
}

.slide {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

#tab1:checked ~ .container .container-wrapper {
    transform: translateX(0%);
}
#tab2:checked ~ .container .container-wrapper {
    transform: translateX(-50%);
}

.new-rule {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5c35;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

.tab-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5c35;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

#tab-label-3 {
    margin-left: 0.2em;
}

#tab-label-3 > img {
    height: 60%;
}

.tab-label:hover {
    background-color: #2ee800;
}

.container {
    display: flex;
    width: 200%;
    transition: transform 0.4s ease;
}

.container h2 {
    margin-bottom: 0.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-input:nth-child(1) {
    width: 150px;
}

.two-column, .three-column {
    flex-direction: row;
}

.two-column .form-input:last-child {
    flex-grow: 1;
    margin-left: 0.5em;
}

.three-column .form-input:nth-child(2), .form-input:nth-child(3), .form-input:nth-child(4) {    
    margin-left: 0.5em;
    width: 100px;
}

.form-input:nth-child(4) {
    width: 200px;
}

.form-input > select, input {
    height: 33px;
}

.bottom-action {
    display: flex;
    justify-content: flex-end;
}

.bottom-action > button {
    width: 120px;
}

#save-mock {
    margin-left: 0.5em;
}

img {
    width: 80%;
    height: 80%;
    width: 30px;
}

label {
    font-weight: bold;
    letter-spacing: 1px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    min-height: 100px;
    resize: none;
    margin-bottom: 0.5em;
    height: 312px;
    max-height: 312px;
}

.rule-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 510px;
    overflow-y: auto;
}

.rule-list-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0.5em;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding-bottom: 1em;
}

.section-search {
    display: flex;
    align-items: center;
}

.section-search > select {
    width: 100px;
    margin-left: 0.5em;
    font-size: smaller;
}

.section-search > input {
    height: 30px;
    width: 100px;
    margin-left: 0.5em;
    display: none;
}

.section-search > label {
    margin-left: 0.5em;
}

.search-btn { display: none; } /* Not needed anymore but just in case */
.search-btn > img {
    height: 60%;
}

button {
    padding: 10px 15px;
    background-color: #ff5c35;
    color: white;
    border: none;
    border-radius: 4px;
    width: 15%;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #2ee800;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

#mocks-list {
    list-style: none;
    padding: 0;
}

#mocks-list li {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
}

#mocks-list li .actions button {
    font-size: 0.8em;
    padding: 5px;
    margin-left: 5px;
}

#mocks-list li .actions .delete-btn {
    background-color: #dc3545;
}

#mocks-list li .actions .delete-btn:hover {
    background-color: #c82333;
}

#mocks-list li .actions .edit-btn {
    background-color: #ffc107;
    color: black;
}

#mocks-list li .actions .edit-btn:hover {
    background-color: #e0a800;
}

#mocks-list li .mock-info {
    max-width: 588px;
    flex-grow: 1;
    word-break: break-all;
}

#mocks-list li .mock-info small {
    display: block;
    color: #555;
}

.actions {
    height: 100%;
    padding-top: 2em;
}

.actions > button {
    width: 44px;
}

.options-container {
    position: fixed;
    top: 4px;
    left: 720px;
    display: flex;
    flex-direction: column;
    width: 80px;    
    background-color: #d5d5d5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 4px 4px rgba(250, 97, 1, 0.3);
}

.options-container > .option {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option > label {
    text-align: center;
    cursor: pointer;
}

.option:hover {
    background-color: #ff5c35;
    color: white;
}

.hidden {
    display: none;
}

.response-container-header {
    width: 100%;
    margin-bottom: 4px;
}

.response-container-header > label {
    cursor: pointer;
}

.response-container {
    display: flex;
    width: 100%;
}

.response-container-wrapper {
    display: flex;
    width: 100%; 
    max-height: 324px;
}

.response-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.response-body {
    padding: 0;
}

.response-headers {
    height: 312px;
    background-color: white;
    display: none;
    margin-bottom: 1em;
}

#response-body-label::after,
#response-headers-label::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ff5c35;
    border-radius: 50%;
    margin-left: 8px;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.2s ease; 
}

#tab3:checked ~ .response-container-header #response-body-label::after {
    opacity: 1; 
}

#tab4:checked ~ .response-container-header #response-headers-label::after {
    opacity: 1; 
}

#response-body-label:hover::after, 
#response-headers-label:hover::after {
    opacity: 1;
    background-color: #2ee800;
}

#response-headers-label{
    margin-left: 23px;
}

.headers-top {
    display: flex;
    height: 30px;
    background-color: #d5d5d5;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
}

.headers-top > input {
    height: auto;
}

#input-headers-top-key {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#key-span {
    margin-right: 250px;
}

#value-span {
    margin-right: 382px;
}

#new-header-span {
    font-size: 38px;
    cursor: pointer;
    user-select: none;
}

.headers-list {
    list-style: none;
    height: 280px;
    overflow-y: auto;
}

.header-list-item {
    display: flex;
    align-items: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 30px;
    background-color: #f8f8f8;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.header-list-item:hover {
    background-color: #ff5c35;
    color: white;
}

.header-list-item-checkbox {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.header-list-item-key, .header-list-item-value {
    width: 250px !important; 
    height: 20px;
}  

.header-list-item-key {
    margin-right: 1.5em;
}

.header-list-item-value {
    margin-right: 80px;
    width: 350px !important;
}

.rotated {
    transform: rotate(45deg);
    font-size: 38px;
    user-select: none;
}

input[type="checkbox"] {
    accent-color: #ff5c35;
    /* accent-color: #2ee800 */
}

.header-list-item:hover > input[type="checkbox"] {
    accent-color: white;
}
